@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
